POSTGRES_PASSWORD=123
POSTGRES_USER=postgres

DJANGO_ADMIN_URL=admin/
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=x90q#msz3pm_cs8svso1cdhi@3v6^z)&6f7fr&m_py39cc0wd4
DJANGO_SECURE_SSL_REDIRECT=False



